.login-page {
  max-width: 500px;
  margin: 50px auto;
}

.login-section {
  margin-bottom: 30px;
}

.login-section h3 {
  margin-bottom: 20px;
  color: #333;
}

.divider {
  text-align: center;
  margin: 30px 0;
  color: #666;
  font-weight: bold;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}












